<IfModule mod_rewrite.c>
    Options -Multiviews
    RewriteEngine On
    #RewriteBase /gestion_almacenamiento/public
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]
    AddType application/javascript .js
</IfModule>